<main class="main">
  <ul class="activity-list">
    <li>
      <app-list-item>
        <app-create-activity></app-create-activity>
      </app-list-item>
    </li>
    @for (activity of userActivities; track activity.id) {
      <li>
        <app-list-item [date]="activity.createdAt" [type]="activity.type">
          <app-activity
            [activity]="activity"
            (deleteClicked)="onDeleteClicked(activity.id)"
          ></app-activity>
        </app-list-item>
      </li>
    }
  </ul>
</main>
